name: Deploy

on:
  push:
    branches:
      - main
      - development

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      # Deploy Production
      - name: Deploy to Production (main)
        if: github.ref == 'refs/heads/main'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.OVH_HOST }}
          port: ${{ secrets.OVH_PORT }}
          key: ${{ secrets.OVH_SSH_KEY }}
          username: ${{ secrets.OVH_USER }}
          passphrase: ${{ secrets.OVH_SSH_KEY_PASSPHRASE }}
          script: |
            cd /home/ubuntu/projects/networked-ai/production/backend || exit 1 || exit 1
            git fetch --all
            git reset --hard origin/main
            npm install
            npm run build
            pm2 restart 0

      # Deploy DEVELOPMENT
      - name: Deploy to Staging (development)
        if: github.ref == 'refs/heads/development'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.OVH_HOST }}
          port: ${{ secrets.OVH_PORT }}
          key: ${{ secrets.OVH_SSH_KEY }}
          username: ${{ secrets.OVH_USER }}
          passphrase: ${{ secrets.OVH_SSH_KEY_PASSPHRASE }}
          script: |
            cd /home/ubuntu/projects/networked-ai/development/backend || exit 1 || exit 1
            git fetch --all
            git reset --hard origin/development
            npm install
            npm run build
            pm2 restart 1
